@use "@styles/variables" as *;

.NewsCard {
  $spacing: 2rem;

  display: grid;
  gap: $spacing;
  padding: $spacing;
  border: 1px solid rgba(187, 187, 187, 0.2);
  border-radius: 1.75rem;

  background-color: $clr-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  text-align: center;

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;
    margin: 0;

    font-size: $fs-m;
  }

  &__image {
    height: 120px;
    object-fit: cover;
  }

  &__title {
    // max-height: 6.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    line-height: 1.25;
    overflow: hidden;
  }

  &__desc {
    // max-height: 6rem;
    align-self: flex-end;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    margin: 0;
    line-height: 1.5;
    overflow: hidden;
  }
}
