@use "@styles/variables" as *;

.pageBlock {
  &--flex {
    display: flex;

    &-column {
      display: flex;
      flex-direction: column;
    }
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--align-center {
    align-items: center;
  }
}

.HomeContainer {
  max-width: $max-width-desktop;
  margin: auto;
  padding: 8rem 0 6rem;

  .creditCard {
    gap: 1.5rem;
    margin-bottom: 4rem;

    &__desc {
      max-width: 40rem;
    }

    &__heading {
      margin-top: 0;
      font-size: $fs-xxl;
      font-weight: $fw-b;
    }

    &__button {
      max-width: max-content;
      margin-bottom: 2.5rem;
    }

    &__figures {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      flex-shrink: 0;
      gap: 1rem;
      width: fit-content;
      margin: 0;
    }
  }

  .features {
    gap: 4rem;
    font-family: $ff-second;

    &__figure {
      margin-left: 0;
      margin-right: 0;
    }

    &__heading {
      font-size: $fs-xl;
      font-weight: $fw-m;
    }

    &__desc {
      flex: min-content;
    }

    &__text {
      line-height: 1.9;
    }

    &__list {
      position: relative;
      padding: 0 2rem;
      list-style-image: url("@img/icons/check-mark.svg");
      line-height: 3;
      font-size: $fs-s;
      color: $clr-gray-dark-3;
    }
  }

  .services {
    &__heading {
      margin-bottom: 0;
      font-weight: $fw-m;
      font-size: $fs-xl;
      line-height: 1.7;
    }

    &__figcaption {
      margin-bottom: 2.5rem;
      font-weight: $fw-m;
      line-height: 3.125;
      text-align: center;
    }
  }

  .news {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
      font-size: $fs-xl;
      font-weight: $fw-m;
    }

    &__text {
      color: $clr-gray-dark-2;
    }
  }

  .support {
    letter-spacing: 0.02em;

    &__heading {
      font-size: $fs-l;
      color: $clr-orange;

      &--second {
        margin: 1rem 0;
        font-size: $fs-xl;
      }
    }

    &__news {
      margin-top: 1rem;
      margin-bottom: 4rem;
      font-size: $fs-xl;
      font-weight: $fw-m;
    }

    &__form {
      display: flex;
      align-items: center;
      padding: 1.5rem 2rem;

      border-radius: 1.25rem;
      box-shadow: 0 10px 20px 0 rgba(54, 58, 120, 0.1);
      background-color: $clr-white;

      &:focus-within {
        outline: 2px solid $clr-black;
      }
    }

    &__input {
      padding-left: 0.4rem;
      border: 0;

      color: #9092b0;
      font-family: $ff-third;
      font-size: $fs-m;
      letter-spacing: 0.02em;

      &:focus {
        outline: none;
      }
    }

    &__button {
      position: relative;
      padding-left: 3rem;
      padding-right: 2rem;
      border-radius: 1.25rem;
      background-color: #686df1;
    }

    &__sendIcon {
      position: absolute;
      left: 0.5rem;
      bottom: 0.2rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media (max-width: $max-width-tablet) {
    padding-top: 3rem;

    .creditCard,
    .features {
      flex-direction: column;
      align-items: center;

      &__desc {
        align-items: center;
      }
    }

    .support__form {
      @media (max-width: $max-width-mobile) {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}
