@use "@scss/variables" as *;

.CurrencyConverterList {
  display: grid;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: fit-content;
  padding: 0;

  color: $text-color-black;
  font-weight: $fw-b;
  list-style: none;

  &__currencyFrom {
    padding-right: 1.25rem;
    color: $text-color-gray-medium;
  }

  @media (max-width: $max-width-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
