@use "@styles/variables" as *;

.NewsReel {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__buttons {
    display: flex;
    align-self: flex-end;
    margin-top: 1rem;
    margin-left: auto;
    gap: 1.25rem;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    padding: 0;
    border: 1px solid $clr-blue;
    border-radius: 50%;
    color: $clr-white;

    &--disabled {
      background-color: unset;
      border-color: $clr-blue;
      color: $clr-black;
    }
  }
}
