@use "@scss/variables" as *;

.Header {
  padding: 1rem 0rem;
  font-weight: $fw-b;
  line-height: $lh-110;
  letter-spacing: $ls-02;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: $max-width-desktop;
    margin: auto;
  }

  &__logo {
    color: $header-logo-color;
    font-size: $fs-l;
    text-decoration: none;
    text-shadow: 1px 1px 10px #00000020;
  }
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.08);

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__smallMenu {
    display: none;
  }

  &__toggleButton {
    display: flex;
    width: 4rem;
    border: 0;
    background-color: initial;
  }

  @media (max-width: $max-width-tablet) {
    &__container {
      align-items: flex-start;
    }

    &__navbar,
    &__button--large {
      display: none;
    }

    &__smallMenu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0 2rem;
    }

    &__navbar--small {
      flex-flow: column nowrap;
    }
  }
}
