@use "./normalize.css";
@use "@scss/fonts" as *;
@use "@scss/variables" as *;

body {
  background-color: $bg-color-light;
  color: $text-color-gray-dark;
  font-family: $ff-main;
}

img {
  max-width: 100%;
  height: auto;
}
