@use "@styles/variables" as *;

.Button {
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.5rem;

  background-color: $clr-blue;
  color: #fff;
  font-family: inherit;
  font-weight: $fw-b;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  &--tall {
    padding: 1rem 1rem;
  }

  &--border-radius-m {
    border-radius: 1rem;
  }

  &:hover {
    background-color: #7795c0;
  }
}
